.pirate {
width: 400px
}

.pirate2 {
width: 400px;
height: 1px;
margin-top: 70px;
margin-left: -25px;
}

.pirate3 {
margin-top: -42px;
margin-bottom: 20px;
}

.pirate4 {
width: 80px;
height: 80px;
padding: 1px;
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
}

.pirate5 { 
width: 80px;
height: 80px;
background-size: 80px 80px;
top:2px;
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%; }

.pirate5 img {
width: 80px;
height: 80px;
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
}

.pirate6 {
margin-left: 25px;
width: 460px;
height: 9px;
padding: 10px;
line-height: 9px;
text-align: center;
}
